body{
  font-family: "HelveticaNeue-Light","Helvetica Neue Light",
  "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.42857;
  color: #333333;
}
div{
  display: block;
}
.people-div{
  margin-left: 100px;
}
.row:after{
  clear:both;
}
.staff-row{
  margin-bottom: 25px;
}
.staff-row:before, .staff-row:after {
    content: " ";
    display: table;
}
.staff-img-col, .staff-info-col{ /*Not sure what this is for */
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;

}
/* This adds the line on top of the images in m_people.html */
.staff-img-col::before{
  content: '';
  height: 3px;
  display: block;
  width: 35px;
  /* background: #00B4AF; */
  background: #00274c;
}
img{
  vertical-align: middle;
  border: 0;
}
.img-responsive{
  display: block;
  max-width: 100%
  height: auto;
}

/* Edits the text people's names on the m_people.html */
.staff-info-col h2{
  font-family: "Roboto Condensed",sans-serif;
  /* text-transform: uppercase; */
  font-size: 1.8em;
  font-weight: 400;
}
.staff-info-col h3{
  font-family: "Roboto Condensed",sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  color: #444;
}

@media (min-width: 851px){
  .staff-img-col{
      /* width: 33.33333%; */
      float: left;
  }
  .staff-info-col{
    width: 66.66667%;
    /* float:right; */
    display: block;
}
